@rendermode RenderMode.InteractiveServer

@inherits InputMain<System.String>
@implements IAsyncDisposable

@*******
******** Note: When styling output of this text area, use white-space: pre-wrap; to keep the paragraph breaks that were entered in the input.
*******@

<style>

    .input-wrapper {
        --min-height: 100px;
        --max-height: 500px;
    }

    .text-area-input {
        position: relative;
        display: block;
        width: 100%;
        min-height: var(--min-height);
        height: 100%;
        max-height: var(--max-height);
        resize: vertical;
        padding: 0.5rem 1rem;
        overflow: hidden;
    }

        .text-area-input.character-counter {
            padding-bottom: 1.75rem;
        }

        .text-area-input + .max-character-count {
            position: absolute;
            bottom: 0.3rem;
            left: 0.7rem;
            padding: 3px 5px;
            border-radius: 9999px;
            font-size: 0.75rem;
            color: rgba(0, 0, 0, 0.75);
            background-color: white;
        }

        .text-area-input.scroll {
            overflow: auto;
        }

        .text-area-input.auto-size {
            resize: none;
        }

        .text-area-input::-webkit-resizer {
            display: none;
        }

    .resize-handle-wrapper:has(.text-area-input:not(.auto-size))::after {
        content: "";
        z-index: 1;
        /*    opacity: 0.8;*/
        position: absolute;
        right: 4px;
        bottom: 4px;
        pointer-events: none;
        height: 0.8rem;
        aspect-ratio: 1;
        border-radius: 3px;
        border-bottom-right-radius: 1rem;
        background-image: url('images/TextAreaGrip.svg')
    }

    .helper-icon > svg {
        top: 1.15rem;
    }
</style>

<InputContainer Ref=@this TRef=@TextAreaInput TValue=@System.String CSSVariables=@($"--min-height: {MinHeight}; --max-height: {MaxHeight};")>
    <span class="helper-icon @(!System.String.IsNullOrEmpty(WarningMessage) ? "warning" : "")">
        @if (!System.String.IsNullOrEmpty(prpErrorMessage))
        {
            <ErrorIcon />
        }
        else if (!System.String.IsNullOrEmpty(WarningMessage))
        {
            <InfoIcon />
        }
    </span>
    <div class="resize-handle-wrapper" style="border-radius: 1rem; overflow: hidden;">
        <textarea @ref=@fobjTextArea @attributes=@Attributes name=@Id id="@Id" disabled=@prpIsDisabled class="text-area-input @(AutoSizing ? "auto-size" : "") @(MaxLength != System.Int32.MaxValue ? "character-counter" : "")" maxlength=@MaxLength required=@Required placeholder=@Placeholder @bind=@mobjCurrentValue @bind:event="oninput" />
        @if (MaxLength != System.Int32.MaxValue)
        {
            <span class="max-character-count">@($"{mobjCurrentValue?.Length ?? 0}/{MaxLength}")</span>
        }
    </div>
</InputContainer>

@code {
    #region Params
    [Parameter] public System.Int32 MaxLength { get; set; } = System.Int32.MaxValue;
    [Parameter] public System.Boolean AutoSizing { get; set; } = false;
    [Parameter] public System.String MinHeight { get; set; } = "100px";
    [Parameter] public System.String MaxHeight { get; set; } = "500px";
    #endregion

    #region Class Declarations
    private ElementReference? fobjTextArea { get; set; }
    private IJSObjectReference? mobjJSTextAreaListener = null;
    #endregion

    #region OnInitialized
    protected override void OnInitialized()
    {
        try
        {
            subRegisterFormField();
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region OnAfterRenderAsync
    protected override async System.Threading.Tasks.Task OnAfterRenderAsync(System.Boolean firstRender)
    {
        try
        {
            if (!firstRender) return;

            // IJSObjectReference mobjJSInitTextAreaModule = await mobjJSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Components/TextArea/index.js");

            // mobjJSTextAreaListener = await mobjJSInitTextAreaModule.InvokeAsync<IJSObjectReference>("initTextArea", fobjTextArea, MinHeight, MaxHeight);
            mobjJSTextAreaListener = await mobjJSRuntime.InvokeAsync<IJSObjectReference>("js", @"
                const textAreaEl = params[0];
                const minHeight = params[1];
                const maxHeight = params[2];

                const sizeTextArea = () => {
                    if (textAreaEl.scrollHeight < (Number(minHeight) || 100)) {
                        textAreaEl.classList.remove('scroll');
                        textAreaEl.style.height = '100%';
                    } else if (textAreaEl.offsetHeight >= (Number(maxHeight) || 500)
                        && textAreaEl.scrollHeight >= (Number(maxHeight) || 500)) {

                        textAreaEl.classList.add('scroll');
                    } else {
                        textAreaEl.classList.remove('scroll');
                        textAreaEl.style.height = 'auto'; // reset height so that it shrinks properly, otherwise it decrements by 2
                        textAreaEl.style.height = textAreaEl.scrollHeight + 10 + 'px';
                    }
                };

                textAreaEl.addEventListener('input', sizeTextArea);

                return {
                    dispose: () => {
                        textAreaEl.removeEventListener('input', sizeTextArea);
                    }
                }", fobjTextArea, MinHeight, MaxHeight);
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region DisposeAsync
    public async ValueTask DisposeAsync()
    {
        if (mobjJSTextAreaListener != null)
        {
            await mobjJSTextAreaListener.InvokeVoidAsync("dispose");

            await mobjJSTextAreaListener.DisposeAsync();
        }
    }
    #endregion

    #region subRunValidation
    protected override void subRunValidation()
    {
        if (Required && System.String.IsNullOrEmpty(mobjCurrentValue?.ToString()))
        {
            throw new System.Exception("Field is required");
        }
        else if (mobjCurrentValue?.Length > MaxLength)
        {
            throw new System.Exception($"Value exceeds max length of {MaxLength}");
        }
    }
    #endregion
}
