@inherits Components.BaseComponents.ComponentMain.ComponentMain

<style>
.toast {
    --animation-duration-ms: 100ms;
    background-color: #555;
    border: white 1px solid;
    color: white;
    display: flex;
    gap: 0.5rem;
    /*align-items: center;*/
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
    min-width: 20rem;
    pointer-events: auto;
    animation: toast-show var(--animation-duration-ms) ease-out forwards;
}

.toast__hide {
    pointer-events: none;
    animation: toast-hide var(--animation-duration-ms) ease-out forwards;
}

.toast > svg {
    margin-top: 2px;
    height: 1.25rem;
    fill: #e84636;
}

.toast > div {
    flex: 1;
}

.toast-title {
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toast-content {
    padding-left: 0.5rem;
    max-width: 19rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
}

.action-button__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    height: 1.5rem;
}

    .action-button__container > span {
        height: 100%;
        width: 1px;
        background-color: #888;
    }

.action-button__action {
    background: none;
    border: none;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.action-button__close-button {
    height: 150%;
    aspect-ratio: 1;
    padding: 0.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0);
}

    .action-button__close-button:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .action-button__close-button > svg {
        height: 100%;
        width: 100%;
        fill: white;
    }
</style>

<div @ref=@fobjToastRef class="toast @(fsruToast.mblnHidden ? "toast__hide" : "")" style="--animation-duration-ms: @(AnimationDurationMS + "ms");">
    @switch (fsruToast.menmToastType)
    {
        case Services.Toast.enumToastType.typError:
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
            </svg>
            break;
        case Services.Toast.enumToastType.typSuccess:
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="#15bc31" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
            </svg>
            break;
        case Services.Toast.enumToastType.typInfo:
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="#d8dee8" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
            </svg>
            break;
        case Services.Toast.enumToastType.typWarning:
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="#e6e141" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
            </svg>
            break;
    }
    <div>
        <p class="toast-title">@fsruToast.mstrTitle</p>
        <p class="toast-content">@fsruToast.mstrContent</p>
    </div>
    <div class="action-button__container">
        @if (fsruToast.mactOnActionClick != null)
        {
            <button class="action-button__action" @onclick=subPerformAction>
                @(fsruToast.mstrActionDisplayText)
            </button>
            <span></span>
        }
        <button class="action-button__close-button" @onclick=@subClose>
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M98.0683 11.7219C101.011 8.68641 100.542 4.17785 97.0007 1.65573C93.4594 -0.866382 88.1995 -0.464629 85.2571 2.57084L50 38.8402L14.7429 2.57084C11.8005 -0.464629 6.5406 -0.866382 2.99927 1.65573C-0.54206 4.17785 -1.01076 8.68641 1.93166 11.7219L39.1417 50L1.93166 88.2781C-1.01076 91.3136 -0.54206 95.8221 2.99927 98.3443C6.5406 100.866 11.8005 100.465 14.7429 97.4292L50 61.1598L85.2571 97.4292C88.1995 100.465 93.4594 100.866 97.0007 98.3443C100.542 95.8221 101.011 91.3136 98.0683 88.2781L60.8583 50L98.0683 11.7219Z" fill="white" />
            </svg>
        </button>
    </div>
</div>
