@using BlazorUI.Components.Inputs.Select.Internal
@rendermode RenderMode.InteractiveServer


@inherits InputMain<List<TValue>>

@typeparam TValue
@attribute [CascadingTypeParameter(nameof(TValue))]

<InputContainer Ref=@this TRef=@(SelectInput<TValue>) TValue=@(List<TValue>)>
    <CascadingValue Name="ParentSelect" Value=@this TValue=@(SelectInput<TValue>)>
        <Popover @ref=fobjPopoverRef Anchor=@Popover.enumPopoverPosition.typTopCenter AnchorFallback=Popover.enumPopoverPosition.typBottomCenter MatchParentWidth OnOpen=@subScrollToSelectedElement OnClose=@(() => fstrSearchValue = null) style="z-index: 1100;">
            <AnchorElement>
                <button type="button" class="select-input" disabled=@prpIsDisabled @onclick=@(() => { if (!prpIsDisabled) context.fncToggle(); })>
                    <span class="option-text @(mobjCurrentValue.Count > 0 ? "" : "placeholder-shown")">
                        @if (mobjCurrentValue.Count > 0)
                        {
                            @if (ValueDisplay != null)
                            {
                                @ValueDisplay(mobjCurrentValue)
                            }
                            else
                            {
                                @if (!MultiSelect && mobjCurrentValue != null)
                                {
                                    @malobjOptions.FirstOrDefault(option => System.Collections.Generic.EqualityComparer<TValue>.Default.Equals(option.Value, mobjCurrentValue.FirstOrDefault()))?.ChildContent
                                }
                                else
                                {
                                    @(mobjCurrentValue?.Count + " Selected")
                                }
                            }
                        }
                        else
                        {
                            @(!System.String.IsNullOrEmpty(Placeholder) ? Placeholder : "Select an option")
                        }
                    </span>
                    <span class="dropdown-icon @(fobjPopoverRef?.fblnIsVisible ?? false ? "open" : "closed")">
                        <ChevronIcon Direction=@ChevronIcon.enumDirection.typDown />
                    </span>
                </button>
            </AnchorElement>
            <Content>
                @if (Searchable)
                {
                    <div class="search-bar__wrapper shadow-sm">
                        <button class="search-bar__button" @onclick=@(() => subSearchOptions(fstrSearchValue))>
                            <SearchIcon />
                        </button>
                        <input type="search" placeholder="Search options" @bind=@fstrSearchValue @bind:event="oninput" />
                    </div>
                }
                <ScrollContainer MaxHeight="200px" style=@(Searchable ? "border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem;" : "border-radius: 1rem;")>
                    <ul class="select-input__options">
                        @if (Searchable && falobjSelectOptions.Count == 0)
                        {
                            <li style="padding: 0.8rem 1rem;">
                                No results
                            </li>
                        }
                        else
                        {
                            @if (MultiSelect && SelectAllOption)
                            {
                                <SelectOption SelectAll Value=default(TValue) TValue=@TValue ListStyle=@ListStyle>Select All</SelectOption>
                            }
                        }

                        @ChildContent

                        @foreach (Option<TValue> objOption in falobjSelectOptions)
                        {
                            <SelectOption Value=objOption.Value ListStyle=@ListStyle>
                                @objOption.ChildContent
                            </SelectOption>
                        }
                    </ul>
                </ScrollContainer>
            </Content>
        </Popover>
    </CascadingValue>
</InputContainer>

@code {
    #region Enums
    public enum enumListStyle {
        typDefault = 0,
        typCompact = 10,
    }
    #endregion

    #region Params
    [Parameter, EditorRequired] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment<System.Collections.Generic.List<TValue>>? ValueDisplay { get; set; } = null;
    [Parameter] public System.Boolean MultiSelect { get; set; } = false;
    [Parameter] public System.Boolean SelectAllOption { get; set; } = false;
    [Parameter] public System.Boolean PreventDeselect { get; set; } = false;
    [Parameter] public System.Boolean Searchable { get; set; } = false;
    [Parameter] public enumListStyle ListStyle { get; set; } = enumListStyle.typDefault;
    #endregion

    #region Props
    internal Popover? fobjPopoverRef { get; set; } = null;
    internal System.Collections.Generic.List<Option<TValue>> malobjOptions { get; set; } =
         new System.Collections.Generic.List<Option<TValue>>();

    internal System.Collections.Generic.List<Option<TValue>> falobjSelectOptions { get; set; } =
        new System.Collections.Generic.List<Option<TValue>>(); // Used for display and filtering

    private System.String? mstrSearchValue = null;
    private System.String? fstrSearchValue
    {
        get
        {
            return mstrSearchValue;
        }
        set
        {
            mstrSearchValue = value;
            subSearchOptions(mstrSearchValue);
        }
    }
    #endregion

    #region OnParametersSet
    protected override void OnParametersSet()
    {
        if (mobjCurrentValue == null)
        {
            mobjCurrentValue = new System.Collections.Generic.List<TValue>();
        }
    }
    #endregion

    #region OnAfterRender
    protected override void OnAfterRender(System.Boolean firstRender)
    {
        if (!firstRender) return;

        falobjSelectOptions = malobjOptions;
        subScrollToSelectedElement();
    }
    #endregion

    #region fncAddOption
    internal void fncAddOption(Option<TValue> pobjOption)
    {
        malobjOptions.Add(pobjOption);
    }
    #endregion

    #region subSearchOptions
    private void subSearchOptions(System.String? pstrSearchParameter)
    {
        if (System.String.IsNullOrEmpty(pstrSearchParameter)) falobjSelectOptions = malobjOptions;

        falobjSelectOptions = malobjOptions.Where((option) =>
                                                        option.Value
                                                                ?.ToString()
                                                                ?.ToLower()
                                                                .Contains(pstrSearchParameter?
                                                                                .ToLower()
                                                                                .Trim() ?? ""
                                                                ) ?? false).ToList();
    }
    #endregion

    #region subScrollToSelectedElement
    public async void subScrollToSelectedElement()
    {
        if (mobjCurrentValue != null && mobjCurrentValue.Count > 0 && mobjCurrentValue.FirstOrDefault() != null)
        {
            System.String strSelectedElementId = "option-" + (Id + "__" + mobjCurrentValue.FirstOrDefault()).ToString()?.ToLower().Replace(' ', '-');

            // IJSObjectReference? objScrollModule = await mobjJSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Components/ScrollContainer/index.js");
            // objScrollModule?.InvokeVoidAsync("scrollElementIntoView", strSelectedElementId);
            await mobjJSRuntime.InvokeVoidAsync("js", @"
                const elementId = params[0];

                const element = document.getElementById(elementId);
                if (element) {
                    element.scrollIntoView({ block: 'nearest' });
                }
            ", strSelectedElementId);
        }
    }
    #endregion

    #region subUpdateSelectedValue
    public void subUpdateSelectedValue(TValue pstrValue, System.Boolean pblnIsChecked)
    {
        System.Collections.Generic.List<TValue> alstrSelectedValues = Utils.Helpers.cObjectCopy.fncDeepCopy(mobjCurrentValue) ?? new System.Collections.Generic.List<TValue>();

        if (MultiSelect && !pblnIsChecked && !alstrSelectedValues.Contains(pstrValue))
        {
            // if it's multi select and the option isn't already present in the seletion
            alstrSelectedValues.Add(pstrValue);
        }
        else if (pblnIsChecked && (MultiSelect || (!MultiSelect && !PreventDeselect)))
        {
            // If an option is clicked that was already checked, uncheck/remove that option
            alstrSelectedValues.Remove(pstrValue);
        }
        else
        {
            // If select list is radio buttons, clear previous selections
            alstrSelectedValues.Clear();
            alstrSelectedValues.Add(pstrValue);
        }

        if (!MultiSelect)
        {
            // Hide popover if it's not multi select and an option was clicked
            fobjPopoverRef?.fncHide();
        }

        mobjCurrentValue = alstrSelectedValues;
    }
    #endregion

    #region subToggleSelectAll
    public void subToggleSelectAll()
    {
        System.Boolean blnAllSelected = mobjCurrentValue?.Count == falobjSelectOptions.Count;

        // Clear all
        mobjCurrentValue = new System.Collections.Generic.List<TValue>();

        // If they aren't all selected already, select them all
        if (!blnAllSelected)
        {
            foreach (Option<TValue> option in falobjSelectOptions)
            {
                mobjCurrentValue.Add(option.Value);
            }
        }
    }
    #endregion
}
