@page "/TestInputs"

@inherits ComponentMain

<PageTitle>Input Test Page</PageTitle>

<section style="padding: 1.5rem 2rem; height: 80vh; max-height: 100%; overflow-y: auto; display: flex; gap: 3rem; justify-content: center;">
    <div style="display: flex; align-items: center; flex-direction: column; gap: 2rem;">
        <FileInput Label="Test File upload" @bind-Value=@falobjFileUploads />

        @foreach (cFileUpload objFile in falobjFileUploads)
        {
            <ProgressBar Value=@((System.Int64)(objFile.mintSize / 2.5)) MaxValue=@(objFile.mintSize) Status=@(ProgressBar<System.Int64>.enumStatus.typInProgress)>
                <DefaultText>@objFile.mstrName (@BlazorUI.Utils.Helpers.ValueDisplayConverter.FormatBytes(context.mintValue))</DefaultText>
                <SuccessText>@objFile.mstrName (@BlazorUI.Utils.Helpers.ValueDisplayConverter.FormatBytes(context.mintValue))</SuccessText>
                <FailedText>Upload Failed</FailedText>
                <MessageContent>@BlazorUI.Utils.Helpers.ValueDisplayConverter.FormatBytes(context.mintValue) of @BlazorUI.Utils.Helpers.ValueDisplayConverter.FormatBytes(context.mintMaxValue)</MessageContent>
            </ProgressBar>
        }

        <RadioInputGroup @bind-Value=@fstrRadioInput>
            <RadioInputOption Value=@("Option 1")>This is an option</RadioInputOption>
            <RadioInputOption Value=@("Option 2")>This is another option</RadioInputOption>
            <RadioInputOption Value=@("Option 3")>This is a third option</RadioInputOption>
        </RadioInputGroup>

        <DateInput Label="Date" Required @bind-Value=@fdteDateTimeInput />

        <TimeInput Label="Time" Disabled=@(fdteDateTimeInput == null) Required @bind-Value=@fdteDateTimeInput />

        <p>@fdteDateTimeInput?.ToString("MMM dd yyyy HH:mm tt")</p>

        <PhoneNumberInput Label="Phone Number" Required />

        <TextInput Label="Text" Placeholder="test" @bind-Value="fstrTextInput" />

        <TextAreaInput Label="Text Area" Placeholder="Type some text here!" AutoSizing MaxLength="200" @bind-Value=@fstrTextAreaInput />

        <NumberInput Label="Number" Placeholder="Amount..." Required @bind-Value=@fintNumberInput />

        <SelectInput Label="Multi Option Select" MultiSelect SelectAllOption Searchable @bind-Value=falstrMultiSelectedOptions>
            <Option Value=@("Option 1")>Option 1</Option>
            <Option Value=@("Option 2")>Option 2</Option>
            <Option Value=@("Option 3")>Option 3</Option>
            <Option Value=@("Option 4")>Option 4</Option>
            <Option Value=@("Option 5")>Option 5</Option>
            <Option Value=@("Option 6")>Option 6</Option>
            <Option Value=@("Option 7")>Option 7</Option>
            <Option Value=@("Option 8")>Option 8</Option>
        </SelectInput>

        <SelectInput Label="Single Option Select" PreventDeselect Required @bind-Value=falstrSingleSelectedOptions>
            <Option Value=@("Option 1")>Option 1</Option>
            <Option Value=@("Option 2")>Option 2</Option>
            <Option Value=@("Option 3")>Option 3</Option>
            <Option Value=@("Option 4")>Option 4</Option>
            <Option Value=@("Option 5")>Option 5</Option>
            <Option Value=@("Option 6")>Option 6</Option>
            <Option Value=@("Option 7")>Option 7</Option>
            <Option Value=@("Option 8")>Option 8</Option>
        </SelectInput>

        <CheckboxInput Label="Checkbox Input" @bind-Value=fblnCheckboxInput />


        @* <p>@fstrTextInput</p> *@
        @* <p style="white-space: pre-wrap;">@fstrTextAreaInput</p> *@
        @* <p>@fintNumberInput</p> *@
        @* <p>Selections: @(System.String.Join(", ", falstrMultiSelectedOptions))</p> *@
        @* <p>Selections: @(System.String.Join(", ", falstrSingleSelectedOptions))</p> *@
    </div>
    @* <div style="display: flex; align-items: center; flex-direction: column; gap: 2rem;"> *@
    @*     <div style="display: flex; flex-direction: column;"> *@
    @*         <label>Text</label> *@
    @*         <input type="text" /> *@
    @*     </div> *@
    @*     <div style="display: flex; flex-direction: column;"> *@
    @*         <label>Text Area</label> *@
    @*         <textarea /> *@
    @*     </div> *@
    @*     <div style="display: flex; flex-direction: column;"> *@
    @*         <label>Number</label> *@
    @*         <input type="number" /> *@
    @*     </div> *@
    @*     <div style="display: flex; flex-direction: column;"> *@
    @*         <label>Multi Select (Not possible)</label> *@
    @*         <select disabled> *@
    @*             <option>Select an option</option> *@
    @*         </select> *@
    @*     </div> *@
    @*     <div style="display: flex; flex-direction: column;"> *@
    @*         <label>Single Select</label> *@
    @*         <select> *@
    @*             <option disabled selected>Select an option</option> *@
    @*             <option value="option 1">Option 1</option> *@
    @*             <option value="Option 2">Option 2</option> *@
    @*             <option value="Option 3">Option 3</option> *@
    @*             <option value="Option 4">Option 4</option> *@
    @*             <option value="Option 5">Option 5</option> *@
    @*             <option value="Option 6">Option 6</option> *@
    @*             <option value="Option 7">Option 7</option> *@
    @*             <option value="Option 8">Option 8</option> *@
    @*         </select> *@
    @*     </div> *@
    @* </div> *@
</section>

@code {
    public System.String? fstrTextInput { get; set; } // TextInput
    public System.String? fstrTextAreaInput { get; set; } // TextAreaInput
    public System.DateTime? fdteDateTimeInput { get; set; } // DateInput and TimeInput
    public System.Int32? fintNumberInput { get; set; } // NumberInput
    public List<System.String> falstrMultiSelectedOptions { get; set; } = new List<System.String>(); // SelectInput
    public List<System.String> falstrSingleSelectedOptions { get; set; } = new List<System.String>(); // SelectInput
    private System.Boolean fblnCheckboxInput { get; set; }
    public System.String? fstrRadioInput { get; set; } = "Option 1"; // Radio Input Group

    public System.Collections.Generic.List<cFileUpload> falobjFileUploads { get; set; } = new System.Collections.Generic.List<cFileUpload>();

    private System.Int64 fintCurrentProgress = 46;
}
